* {
    background-color: rgb(54, 68, 52);
    scroll-behavior: smooth;
    color: rgb(202, 184, 184);
    font-family: 'Garamond';
    box-sizing: border-box;
}

header h1 {
    display: block;
    float: left;
}
.nav li {
    display: inline-block;
    justify-content: right;
    margin-left: 25px;
    padding: 20px;
}

.welcome {
    text-align: center;
    display: block;
    padding: 25px 50px 50px 50px;
    font-size: 40px;
}

.about-me {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    border-top: rgb(202, 184, 184) 3px solid;
    padding: 20px;
}

.about-me-left {
    /* flex-grow: 1; */
    /* width: 40vw; */
    flex: 50%;
}

.personal-photo {
    /* float: left; */
    max-width: 100%;
    height: auto;
    /* object-fit: cover; */
}

.about-me-right {
    padding: 20px;
    flex: 50%;
}

.work {
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    border-top: rgb(202, 184, 184) 3px solid;
    padding: 20px;
}

.css-cheat-sheet {
    flex:40%;
}

.project-1 {
    width: 100px;
    /* max-width: 100%; */
    height: auto;
}

.flex-right {
    padding: 20px;
    flex:60%
}

@media (max-width:400px) {
    .about-me-right , .about-me-left {
        flex:100%;
    }
}